<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>

<div class="container my-2">
    <div class="row">
        <div class="col-3" style="box-shadow: 2px 0 0 0 #888">
            <h5 class="column-header">Filters</h5><br/>
            <form action="/products?" method="get" class="filter-form" id="filter-form">
                <h6>Product Type</h6>
<!--                <div th:each="type: ${types}">-->
<!--                    <input class="form-check-input product-type" type="checkbox" name="type" th:value="${type}"-->
<!--                           th:id="${type}">-->
<!--                    <label class="form-check-label" th:text="${type}" th:for="${type}"></label>-->
<!--                </div>-->
                <hr/>
                <div>
                    <h6>Price</h6>
                    <div class="row">
                        <div class="col-6">
                            <span>Min</span>
                            <input type="number" min="0" th:value="0" name="price" id="min-price" style="width: 100%">
                        </div>
                        <div class="col-6">
                            <span>Max</span>
                            <input type="number" min="0" name="price" id="max-price" style="width: 100%">
                        </div>
                    </div>
                </div>
                <hr/>
                <a class="btn" id="submit-button" style="background-color: #e9692c; color: white">Find</a>
                <a class="btn btn-light" style="float: right" href="/products">Clear all</a>
            </form>
        </div>

        <div class="col-9">
            <h5 class="column-header">Results</h5><br/>
            <div class="row">
                <div style="width: calc(100% * (1/3))" th:each="product: ${products}">
                    <div class="card"
                         style="padding: 10px; height: min-content; cursor: pointer; white-space: nowrap; overflow: hidden;"
                         th:onclick="'window.location.href = \'' + @{/products/{id} (id=${product.id})} + '\''">
                        <img th:src="@{/products/{id}/image (id=${product.id})}"
                             style="background-color: #ccc; width: 100%; height: 100%" alt="product_image">
                        <strong th:text="${product.name}"></strong>
                        <span th:text="${product.price} + '€'"></span>

                        <a th:if="${#authentication.principal != 'anonymousUser'}"
                           th:id="${'add-favorite-' + product.id}" onclick="addFavorite(this)" title="Add to favorites">
                            <img src="/resources/icons/heart.svg" style="width: 21px; float: right; cursor: pointer"
                                 alt="heart">
                        </a>
                        <a th:if="${#authentication.principal != 'anonymousUser'}" hidden
                           th:id="${'remove-favorite-' + product.id}" onclick="removeFavorite(this)"
                           title="Remove from favorites">
                            <img src="/resources/icons/heart-filled.svg"
                                 style="width: 21px; float: right; cursor: pointer" alt="heart-filled">
                        </a>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let types = getUrlParameter("type").split(",");
    let prices = getUrlParameter("price").split(",");

    $('input[name="type"]').map(function () {
        if (types.includes(this.value)) {
            this.checked = true;
        }
    });

    if (prices.length === 2) {
        $('#min-price').val(prices[0]);
        $('#max-price').val(prices[1]);
    }

    $("#submit-button").click(function () {
        let finalUrl = "/products?";

        $(".product-type").map(function () {
            if ($(this).is(":checked"))
                finalUrl += finalUrl.includes("type") ? "," + this.value : "type=" + this.value;
        });

        let priceUrl = finalUrl.includes("type") ? "&price=" : "price=";

        if ($("#min-price").val() && $("#max-price").val())
            finalUrl += priceUrl + $("#min-price").val() + "," + $("#max-price").val();
        else if (!$("#min-price").val() && $("#max-price").val())
            finalUrl += priceUrl + "0," + $("#max-price").val();
        else if ($("#min-price").val() && !$("#max-price").val())
            if ($("#min-price").val() > 0)
                finalUrl += priceUrl + $("#min-price").val() + ",100000";

        window.location.href = finalUrl;
    });

    let products = document.querySelectorAll('[id^="add-favorite-"]');
    let favorites = [[${favorites}]];

    [].forEach.call(products, function (element) {
        let id = Number(element.id.replace("add-favorite-", ""));
        if (favorites.includes(id)) {
            document.getElementById("add-favorite-" + id).hidden = true;
            document.getElementById("remove-favorite-" + id).hidden = false;
        } else {
            document.getElementById("add-favorite-" + id).hidden = false;
            document.getElementById("remove-favorite-" + id).hidden = true;
        }
    });
</script>

</body>
</html>