<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Add a Product</title>
</head>
<body>

<div class="container my-2">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-7">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5"> Create Product </h2>
                    <form th:action="@{/my-products/new}" th:object="${product}" method="post">
                        <div class="form-outline mb-4">
                            <input required
                                   type="text"
                                   class="form-control form-control-lg"
                                   th:field="*{name}"
                                   placeholder="Product Title">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   type="text"
                                   class="form-control form-control-lg"
                                   th:field="*{type}"
                                   placeholder="Product Type">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   type="number"
                                   class="form-control form-control-lg"
                                   th:field="*{price}"
                                   placeholder="Average Price">
                        </div>
                        <div class="form-outline mb-4">
                            <!--<input required id="inputImage"
                                   type="file"
                                   class="form-control form-control-lg"
                                   th:field="*{image}"
                                   placeholder="Image of the product">-->

                            <input required
                                   type="file"
                                   accept="image/*"
                                   class="form-control form-control-lg"
                                   name="image"
                                   th:object="${image}"
                                   id="file"
                                   onchange="loadFile(event)">
                            <img id="output" width="200" th:field="*{image}"/>

                        </div>
                        <div class="form-outline mb-4">
                        <textarea required
                                  class="form-control form-control-lg"
                                  rows="3"
                                  th:field="*{description}"
                                  placeholder="Description"></textarea>

                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn"
                                    style="display: block; width: 100%; background-color: #e9692c; color: white">Create
                                Product
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>