<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Favorites</title>
</head>
<body>

<div class="container my-2">
    <div class="row d-flex justify-content-center">
        <ul class="nav nav-tabs justify-content-center col-8" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="races-tab" data-bs-toggle="tab" data-bs-target="#races"
                        type="button" role="tab" aria-controls="races" aria-selected="true">Races
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="exercises-tab" data-bs-toggle="tab" data-bs-target="#exercises"
                        type="button" role="tab" aria-controls="exercises" aria-selected="false">Exercises
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="diets-tab" data-bs-toggle="tab" data-bs-target="#diets"
                        type="button" role="tab" aria-controls="diets" aria-selected="false">Diets
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="products-tab" data-bs-toggle="tab" data-bs-target="#products"
                        type="button" role="tab" aria-controls="products" aria-selected="true">Products
                </button>
            </li>
        </ul>
        <br/>
        <div class="tab-content col-8" id="myTabContent">
            <!----------------------- RACES ----------------------->
            <div class="tab-pane fade show active" id="races" role="tabpanel" aria-labelledby="races-tab">
                <div class="result" th:each="race: ${races}">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-11">
                                    <h4 class="card-title" th:text="${race.title}"></h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <img class="col-sm-1" src="/resources/icons/location.svg" alt="Location" height="20px">
                                <h6 class="col-3 race-location" style="left: 30px" th:text="${race.location}"></h6>
                            </div>
                            <div class="row">
                                <img class="col-1" src="/resources/icons/date2.svg" alt="Date" height="20px">
                                <h6 class="col-2" style="left: 30px"
                                    th:text="${#dates.format(race.date, 'dd/MM/yyyy')}"></h6>
                            </div>

                            <p class="card-text three-line-text" th:text="${race.description}"></p>
                            <a th:href="@{/races/{id} (id=${race.id})}">See the full race post</a>
                            <a th:href="@{/races/{id}/remove-favorite (id=${race.id})}" title="Remove from favorites">
                                <img src="/resources/icons/heart-filled.svg" style="width: 21px; float: right" alt="heart-filled">
                            </a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <!--------------------- END RACES --------------------->

            <!--------------------- EXERCISES --------------------->
            <div class="tab-pane fade" id="exercises" role="tabpanel" aria-labelledby="exercises-tab">
                <div class="my-2" th:each="exercise: ${exercises}">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h4 th:text="${exercise.title}"></h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text three-line-text" th:text="${exercise.body}"></p>
                            <a th:href="@{/exercises/{id} (id=${exercise.id})}"><em><small>See the full exercise post</small></em></a>
                            <a th:href="@{/exercises/{id}/remove-favorite (id=${exercise.id})}" title="Remove from favorites">
                                <img src="/resources/icons/heart-filled.svg" style="width: 21px; float: right" alt="heart-filled">
                            </a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <!------------------- END EXERCISES ------------------->

            <!----------------------- DIETS ----------------------->
            <div class="tab-pane fade" id="diets" role="tabpanel" aria-labelledby="diets-tab">
                <div th:each="diet: ${diets}">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-10">
                                    <h4 th:text="${diet.title}"></h4>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text three-line-text" th:text="${diet.body}"></p>
                            <a th:href="@{/diets/{id} (id=${diet.id})}">See the full diet post</a>
                            <a th:href="@{/diets/{id}/remove-favorite (id=${diet.id})}" title="Remove from favorites">
                                <img src="/resources/icons/heart-filled.svg" style="width: 21px; float: right" alt="heart-filled">
                            </a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
            <!--------------------- END DIETS --------------------->

            <!--------------------- PRODUCTS ---------------------->
            <div class="tab-pane fade" id="products" role="tabpanel" aria-labelledby="products-tab">
                <div class="row">
                    <div class="result" style="width: auto" th:each="product: ${products}">
                        <div class="card" style="padding: 10px; height: min-content; width: 268px; cursor: pointer; white-space: nowrap; overflow: hidden;"
                             th:onclick="'window.location.href = \'' + @{/products/{id} (id=${product.id})} + '\''">
                            <img th:src="@{/products/{id}/image (id=${product.id})}" width="246" height="246"
                                 style="background-color: #ccc">
                            <strong th:text="${product.name}"></strong>
                            <span th:text="${product.price} + '€'"></span>
                            <a th:href="@{/products/{id}/remove-favorite (id=${product.id})}" title="Remove from favorites">
                                <img src="/resources/icons/heart-filled.svg" style="width: 21px; float: right" alt="heart-filled">
                            </a>
                        </div>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>