<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>

<div class="container my-2">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-7">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5"> Update Password </h2>
                    <p th:if="${updateError}" class="alert alert-danger text-center">Wrong Current Password</p>
                    <form th:action="@{/user/change_password}" method="post" onsubmit="event.preventDefault(); checkPasswordValidity()">
                        <div class="form-outline mb-4">
                            <input required
                                   type="password"
                                   class="form-control form-control-lg"
                                   name="current_password"
                                   placeholder="Current Password">
                        </div>
                        <i id="error-message" style="color: red; font-size: 12px"></i>
                        <div class="form-outline mb-4">
                            <input required
                                   type="password"
                                   class="form-control form-control-lg"
                                   id="new_password"
                                   name="new_password"
                                   placeholder="New Password">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   type="password"
                                   class="form-control form-control-lg"
                                   id="confirm_new_password"
                                   placeholder="Confirm New Password">

                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-submit">Update Password</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>