<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>

<body>

<div class="container my-2">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-7">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5"> Sign Up </h2>
                    <form th:action="@{/process-signup}" th:object="${user}" method="post"
                          onsubmit="event.preventDefault(); validateSignupForm()">
                        <div class="form-outline mb-4">
                            <input required
                                   type="text"
                                   class="form-control form-control-lg"
                                   th:field="*{firstName}"
                                   maxlength="255"
                                   placeholder="First Name">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   type="text"
                                   class="form-control form-control-lg"
                                   th:field="*{lastName}"
                                   maxlength="255"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   type="email"
                                   class="form-control form-control-lg"
                                   th:field="*{email}"
                                   maxlength="255"
                                   placeholder="E-mail">
                        </div>
                        <div class="form-outline mb-4">
                            <label th:if="${param.get('error') != null && param.get('error') != 'none'}" th:text="${errorMessage}" style="color: red; font-size: 12px"></label>
                            <input required
                                   type="text"
                                   class="form-control form-control-lg"
                                   th:field="*{username}"
                                   maxlength="255"
                                   placeholder="Username">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   type="password"
                                   class="form-control form-control-lg"
                                   id="password"
                                   th:field="*{password}"
                                   maxlength="255"
                                   placeholder="Password">
                        </div>
                        <i id="error-message" style="color: red; font-size: 12px"></i>
                        <div class="form-outline mb-4">
                            <input required
                                   type="password"
                                   class="form-control form-control-lg"
                                   id="password-repeat"
                                   maxlength="255"
                                   placeholder="Repeat Password">
                        </div>

                        <div class="form-outline mb-4">
                            <div class="form-control form-control-lg" id="authorities">
                                <label>Choose your role(s)</label><br/>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Athlete" value="ATHLETE" th:field="*{authorities}">
                                    <label class="form-check-label" for="Athlete">Athlete</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Coach" value="COACH" th:field="*{authorities}">
                                    <label class="form-check-label" for="Coach">Coach</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Organizer" value="ORGANIZER" th:field="*{authorities}">
                                    <label class="form-check-label" for="Organizer">Organizer</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="Nutritionist" value="NUTRITIONIST" th:field="*{authorities}">
                                    <label class="form-check-label" for="Nutritionist">Nutritionist</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-outline mb-4" id="preferences" style="display: none">
                            <div class="form-control form-control-lg">
                                <label>Distance preferences</label><br/>
                                <div class="form-check form-check-inline" th:each="i: ${#numbers.sequence(0, 6)}">
                                    <input class="form-check-input" type="checkbox" th:id="'dist-' + #{distance.options[__${i}__]}" th:value="#{distance.options[__${i}__]}" th:field="*{distancePrefs}">
                                    <label class="form-check-label" th:for="'dist-' + #{distance.options[__${i}__]}" th:text="#{distance.options[__${i}__]}"></label>
                                </div>
                            </div>
                            <br/>
                            <div class="form-control form-control-lg">
                                <label>Field preferences</label><br/>
                                <div class="form-check form-check-inline" th:each="i: ${#numbers.sequence(0, 3)}">
                                    <input class="form-check-input" type="checkbox" th:id="#{field.options[__${i}__]}" th:value="#{field.options[__${i}__]}" th:field="*{fieldTypes}">
                                    <label class="form-check-label" th:for="#{field.options[__${i}__]}" th:text="#{field.options[__${i}__]}"></label>
                                </div>
                            </div>
                            <br/>
                            <select name="experience" class="form-control form-control-lg">
                                <option selected disabled value="">Choose experience</option>
                                <option value="Novice">Novice</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Advanced">Advanced</option>
                            </select>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-submit">Sign Up</button>
                        </div>

                        <p class="text-center text-muted mt-5 mb-0">Have already an account?
                            <a href="login" class="fw-bold text-body"><u>Login here</u></a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#Athlete').change(function() {
        $('#preferences').toggle();
    });
</script>

</body>
</html>