body {
    background-color: #f3f5f6;
}


::selection {
    color: white;
    background: gray;
}

.custom-frame {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.three-line-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.btn-favorite {
    border: 1px solid black;
    margin-top: 5px;
}

.btn-submit {
    display: block;
    width: 100%;
    background-color: #e9692c;
    color: white;
}

.type-tag {
    background-color: #e9692c;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

.filter-form {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, .125);
}

.hashtag {
    margin-right: 5px;
    background-color: #e9692c;
    color: white;
    /*border-radius: 10px;*/
    padding: 5px;
}

/* Dropdown Button */
.dropbtn {
    /*background-color: #04AA6D;*/
    /*color: white;*/
    /*padding: 16px;*/
    /*font-size: 16px;*/
    /*border: none;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown-custom {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    transform: translate(-160.625px, -32px);
}

/* Show the dropdown menu on hover */
.dropdown-custom:hover .dropdown-content {
    display: block;
}

/* About Scroll */
::-webkit-scrollbar {
    width: .45rem;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, .4);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/*@media all and (min-width: 992px) {*/
/*    .navbar .nav-item .dropdown-menu {*/
/*        display: none;*/
/*    }*/

/*    .navbar .nav-item:hover .nav-link {*/
/*    }*/

/*    .navbar .nav-item:hover .dropdown-menu {*/
/*        display: block;*/
/*    }*/

/*    .navbar .nav-item .dropdown-menu {*/
/*        margin-top: 0;*/
/*    }*/
/*}*/