<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar (template, title)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:include="${title}"></title>

    <link rel="icon" th:href="@{/resources/icons/runners-square.png}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <link href="/resources/css/style.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script th:src="@{/resources/js/scripts.js}"></script>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<style>

</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 shadow" id="navbar_top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/resources/icons/runners.png" alt="Runners" style="height: 35px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown" id="races">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="">Races</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/races">All Races</a></li>
                        <li><a class="dropdown-item" href="/races?pref=true"
                               th:unless="${#authentication.getPrincipal() == 'anonymousUser'}">Suggested for you</a>
                        </li>
                        <li><a class="dropdown-item" href="/races?distance=Marathon">Marathons</a></li>
                        <li><a class="dropdown-item" href="/races?sort=most-recent">Upcoming Races</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="training-plans">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-current="page"
                       href="">Training Plans</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/training-plans">All Training Plans</a></li>
                        <li><a class="dropdown-item" href="/training-plans?pref=true"
                               th:unless="${#authentication.getPrincipal() == 'anonymousUser'}">Suggested for you</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="diets">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="">Diets</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/diets">All Diets</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" id="products">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="">Products</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/products">All Products</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h5 class="dropdown-item-text">Shoes</h5></li>
                        <li><a class="dropdown-item" href="/products?category=Shoes&type=Running&order=desc">Best Running Shoes</a></li>
                        <li><a class="dropdown-item" href="/products?category=Shoes&type=Marathon&order=desc">Best Marathon Shoes</a></li>
                        <li><a class="dropdown-item" href="/products?category=Shoes&type=Trail&order=desc">Best Trail Shoes</a></li>
                        <li><a class="dropdown-item" href="/products?category=Shoes&type=Track&order=desc">Best Track Shoes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h5 class="dropdown-item-text">Wearables</h5></li>
                        <li><a class="dropdown-item" href="/products?category=Wearables&type=Activity Trackers&order=desc">Best Fitness Trackers</a></li>
                        <li><a class="dropdown-item" href="/products?category=Wearables&type=GPS Watches&order=desc">Best GPS Watches</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><h5 class="dropdown-item-text">Apparel</h5></li>
                        <li><a class="dropdown-item" href="/products?category=Apparel&type=Shorts&order=desc">Best Running Shorts</a></li>
                    </ul>
                </li>
                <li th:each="cookie: ${#httpServletRequest.cookies}" class="nav-item dropdown" id="dashboard"
                    th:if="${cookie.name == 'VIEW-AS' && cookie.value != '' && cookie.value != 'GUEST'}">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="cursor: pointer">Dashboard</a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li th:if="${cookie.value.contains('ORGANIZER')}"><a class="dropdown-item" href="/my-races">Manage Registered Races</a></li>
                        <li th:if="${cookie.value.contains('ORGANIZER')}"><a class="dropdown-item" href="/my-races/new">Register Race</a></li>
                        <li th:if="${cookie.value.contains('ORGANIZER')}"><a class="dropdown-item" href="/races">All Races</a></li>

                        <li th:if="${cookie.value.contains('COACH')}"><a class="dropdown-item" href="/my-training-plans">Manage Created Training Plans</a></li>
                        <li th:if="${cookie.value.contains('COACH')}"><a class="dropdown-item" href="/my-training-plans/new">Create Training Plan</a></li>
                        <li th:if="${cookie.value.contains('COACH')}"><a class="dropdown-item" href="/training-plans">All Training Plans</a></li>
                        <li th:if="${cookie.value.contains('COACH')}"><hr class="dropdown-divider"></li>
                        <li th:if="${cookie.value.contains('COACH') || cookie.value.contains('ATHLETE')}"><a class="dropdown-item" href="/my-products">Manage Created Products</a></li>
                        <li th:if="${cookie.value.contains('COACH') || cookie.value.contains('ATHLETE')}"><a class="dropdown-item" href="/my-products/new">Create Product</a></li>
                        <li th:if="${cookie.value.contains('COACH') || cookie.value.contains('ATHLETE')}"><a class="dropdown-item" href="/products">All Products</a></li>

                        <li th:if="${cookie.value.contains('NUTRITIONIST')}"><a class="dropdown-item" href="/my-diets">Manage Created Diets</a></li>
                        <li th:if="${cookie.value.contains('NUTRITIONIST')}"><a class="dropdown-item" href="/my-diets/new">Create Diet</a></li>
                        <li th:if="${cookie.value.contains('NUTRITIONIST')}"><a class="dropdown-item" href="/diets">All Diets</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                    <a class="nav-link" aria-current="page" href="/login">Log In</a>
                </li>
                <li class="nav-item" th:if="${#authentication.getPrincipal() == 'anonymousUser'}">
                    <a class="nav-link" aria-current="page" href="/signup">Sign Up</a>
                </li>

                <li class="nav-item dropdown" th:unless="${#authentication.getPrincipal() == 'anonymousUser'}">
                    <a class="nav-link" data-bs-toggle="dropdown" href="" id="notification">
                        <img src="/resources/icons/notification.svg" alt="favorites" height="25">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" id="notification-wrapper">
                        <li><small><a style="float: right; margin-right: 10px; color: #888888" href="#" onclick="deleteAllNotifications()">Delete All</a></small></li>

                    </ul>
                </li>

                <li class="nav-item dropdown" th:unless="${#authentication.getPrincipal() == 'anonymousUser'}">
                    <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown"
                       th:text="${#authentication.getName()}">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                        <li>
                            <a class="dropdown-item" href="#">Favorites</a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-submenu dropdown-submenu-left">
                                <li><a class="dropdown-item" href="/races/favorites">Races</a></li>
                                <li><a class="dropdown-item" href="/training-plans/favorites">Training Plans</a></li>
                                <li><a class="dropdown-item" href="/diets/favorites">Diets</a></li>
                                <li><a class="dropdown-item" href="/products/favorites">Products</a></li>
                            </ul>

                        </li>
                        <li class="dropdown-custom dropstart">
                            <button class="dropdown-item dropbtn dropdown-toggle">View As</button>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark dropdown-content">
                                <a sec:authorize="hasAuthority('ATHLETE')" class="dropdown-item" onclick="changeViewAs(this)" id="ATHLETE">Athlete</a>
                                <a sec:authorize="hasAuthority('ORGANIZER')" class="dropdown-item" onclick="changeViewAs(this)" id="ORGANIZER">Organizer</a>
                                <a sec:authorize="hasAuthority('COACH')" class="dropdown-item" onclick="changeViewAs(this)" id="COACH">Coach</a>
                                <a sec:authorize="hasAuthority('NUTRITIONIST')" class="dropdown-item" onclick="changeViewAs(this)" id="NUTRITIONIST">Nutritionist</a>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<th:block th:include="${template}"/>

<script>
    let viewType;
    for (let x of document.cookie.split(';')) {
        if (x.includes('VIEW-AS')) {
            viewType = x.split('=')[1];
        }
    }

    if (!['', 'ADMIN', 'GUEST'].includes(viewType)) {
        let viewAs = document.getElementById(viewType);
        if (viewAs != null)
            viewAs.classList.add("active");
    }

    $(document).ready(function () {

        if (!['', 'ATHLETE', 'GUEST'].includes(viewType) && viewType !== undefined) {
            $('#races').hide();
            $('#training-plans').hide();
            $('#diets').hide();
            $('#products').hide();

        }
        else {
            if (viewType !== 'ATHLETE')
                $('#dashboard').hide();
        }

        if ($('#notification').length > 0)
            createNotifications();
    });


</script>

</body>
</html>