<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Races</title>
</head>
<body>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<div class="container my-2">
    <div class="row my-2">
        <div hidden class="col-3" style="box-shadow: 2px 0 0 0 #888" id="filters">
            <h5 class="column-header">Filters</h5><br/>
            <form class="filter-form">
                <h6>Distance types</h6>
                <div class="form-check" th:each="i: ${#numbers.sequence(0, 6)}">
                    <input class="form-check-input" type="checkbox" th:id="'distance-' + #{distance.options[__${i}__]}" th:value="#{distance.options[__${i}__]}">
                    <label class="form-check-label" th:for="'distance-' + #{distance.options[__${i}__]}" th:text="#{distance.options[__${i}__]}"></label>
                </div>
                <hr/>

                <h6>Field types</h6>
                <div class="form-check" th:each="i: ${#numbers.sequence(0, 3)}">
                    <input class="form-check-input" type="checkbox" th:id="'field-' + #{field.options[__${i}__]}" th:value="#{field.options[__${i}__]}">
                    <label class="form-check-label" th:for="'field-' + #{field.options[__${i}__]}" th:text="#{field.options[__${i}__]}"></label>
                </div>
                <hr/>

                <h6>Date</h6>
                <input type="text" name="date-range" value="" id="date-range" style="width: 100%"/>
                <hr/>
                <a class="btn" id="find-races-by-filters" style="background-color: #e9692c; color: white" onclick="findRacesByFilters()">Find</a>
                <a class="btn btn-light" style="float: right" href="/races">Clear all</a>
            </form>
        </div>

        <div class="col-9 mx-auto">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        <h5 th:text="${races.size()} + ' Results'" style="width: fit-content"></h5>
                        <a onclick="showHideFilters()" href="#" id="triggerFilters" style="width: fit-content">Show Filters</a>
                    </div>
                </div>
                <div hidden id="order" class="col-2">
                    <label for="sort"></label>
                    <select id="sort" onchange="findRacesByFilters()">
                        <option th:selected="${param.get('sort') == null}" value="none">None</option>
                        <option th:selected="${param.get('sort') != null && param.sort[0] == 'most-recent'}" value="most-recent">Most Recent</option>
                        <option th:selected="${param.get('sort') != null && param.sort[0] == 'least-recent'}" value="least-recent">Least Recent</option>
                    </select>
                </div>
            </div>
            <br/>

            <div class="result" th:each="race: ${races}"  style="margin-right: 0 !important">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title one-line-text" th:text="${race.title}"></h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <img style="width: fit-content; height: 20px" src="/resources/icons/location.svg" alt="Location">
                            <h6 style="width:fit-content; left: 20px" th:text="${race.location}"></h6>
                        </div>
                        <div class="row">
                            <img style="width: fit-content; height: 20px" src="/resources/icons/date2.svg" alt="Date">
                            <h6 style="width:fit-content; left: 20px" th:text="${#dates.format(race.date, 'dd/MM/yyyy')}"></h6>
                        </div>

                        <p class="card-text three-line-text" th:text="${race.description}"></p>
                        <a th:href="@{/races/{id} (id=${race.id})}">See the full race post</a>

                        <a class="add-favorite" th:if="${#authentication.principal != 'anonymousUser'}" style="float: right"
                           title="Add to favorites" th:id="${'add-favorite-' + race.id}" onclick="addFavorite(this)"></a>

                        <a hidden class="remove-favorite" th:if="${#authentication.principal != 'anonymousUser'}" style="float: right"
                           title="Remove from favorites" th:id="${'remove-favorite-' + race.id}" onclick="removeFavorite(this)"></a>
                    </div>
                    <div class="card-footer">
                        <small><strong th:if="${race.distanceOptions.size() > 0}">Available races: </strong></small>
                        <small><span th:each="distance: ${race.distanceOptions}" th:text="${distance}" class="hashtag"></span></small>
                        <small><strong th:if="${race.fieldOptions.size() > 0}">Field type: </strong></small>
                        <small><span th:each="field: ${race.fieldOptions}" th:text="${field}" class="hashtag"></span></small>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        fillRaceFiltersByUrlParams();

        let favorites = [[${favorites}]];
        setFavorites(favorites);
    });
</script>
</body>
</html>