<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Update Race</title>
</head>
<body>

<div class="container my-2">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-7">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5"> Update Race </h2>
                    <form th:action="@{/my-races/update}" th:object="${race}" method="post"
                          enctype="multipart/form-data" onsubmit="event.preventDefault(); validateRaceForm()">
                        <input type="number" hidden th:field="*{id}">
                        <div class="form-outline mb-4">
                            <input required
                                   type="text"
                                   class="form-control form-control-lg"
                                   th:field="*{title}"
                                   maxlength="255"
                                   placeholder="Race Title">
                        </div>
                        <i id="error-message" style="color: red; font-size: 12px"></i>
                        <div class="form-outline mb-4" id="checkboxes">
                            <div class="form-control form-control-lg">
                                <label>Choose race type(s)</label><br/>
                                <div class="form-check form-check-inline" th:each="i: ${#numbers.sequence(0, 6)}">
                                    <input class="form-check-input" type="checkbox" th:id="'option' + ${i}" th:value="#{distance.options[__${i}__]}" th:field="*{distanceOptions}">
                                    <label class="form-check-label" th:for="'option' + ${i}" th:text="#{distance.options[__${i}__]}"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-outline mb-4" id="field-checkboxes">
                            <div class="form-control form-control-lg">
                                <label>Choose field type(s)</label><br/>
                                <div class="form-check form-check-inline" th:each="i: ${#numbers.sequence(0, 3)}">
                                    <input class="form-check-input" type="checkbox" th:id="#{field.options[__${i}__]}" th:value="#{field.options[__${i}__]}" th:field="*{fieldOptions}">
                                    <label class="form-check-label" th:for="#{field.options[__${i}__]}" th:text="#{field.options[__${i}__]}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-outline mb-4">
<!--                            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>-->
                            <input id="pac-input" class="form-control form-control-lg" type="text" placeholder="Enter the race location" maxlength="255"><br/>
                            <div class="container" id="map-canvas" style="height:300px;"></div>
                            <input required hidden id="lat" th:field="*{latitude}">
                            <input required hidden id="lng" th:field="*{longitude}">
                            <input required hidden id="location" th:field="*{location}">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   type="date"
                                   class="form-control form-control-lg"
                                   name="dateString"
                                   th:value="${format.format(race.date)}"
                                   placeholder="Date">
                        </div>
                        <div class="form-outline mb-4">
                            <input required
                                   th:type="number"
                                   class="form-control form-control-lg"
                                   th:field="*{price}"
                                   placeholder="Ticket Price">
                        </div>
                        <div class="form-outline mb-4">
                            <textarea required
                                      class="form-control form-control-lg"
                                      rows="3"
                                      th:field="*{description}"
                                      placeholder="Description"></textarea>

                        </div>
                        <div class="form-outline mb-4">
                            <input
                                   type="file"
                                   accept="application/pdf"
                                   class="form-control form-control-lg"
                                   name="file-pdf">
                        </div>
                        <div class="form-outline mb-4">
                            <input
                                   class="form-control form-control-lg"
                                   th:field="*{registrationLink}"
                                   maxlength="255"
                                   placeholder="Registration link">
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-submit">Update Race</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function init() {
        let lat = document.getElementById('lat').value;
        let lng = document.getElementById('lng').value;
        let latlng = new google.maps.LatLng(lat, lng);

        let map = new google.maps.Map(document.getElementById('map-canvas'), {});
        map.setCenter(latlng);

        let searchBox = new google.maps.places.SearchBox(document.getElementById('pac-input'));

        let geocoder = new google.maps.Geocoder();

        geocoder.geocode({location: latlng})
            .then((response) => {
                if (response.results[0]) {
                    map.setZoom(12);

                    const marker = new google.maps.Marker({
                        position: latlng,
                        map: map,
                    });

                    document.getElementById('pac-input').value = response.results[0].formatted_address;
                }
            });

        google.maps.event.addListener(searchBox, 'places_changed', function() {
            searchBox.set('map', null);

            let places = searchBox.getPlaces();

            let bounds = new google.maps.LatLngBounds();
            let i, place;
            for (i = 0; place = places[i]; i++) {
                (function(place) {
                    let marker = new google.maps.Marker({

                        position: place.geometry.location
                    });
                    marker.bindTo('map', searchBox, 'map');
                    google.maps.event.addListener(marker, 'map_changed', function() {
                        if (!this.getMap()) {
                            this.unbindAll();
                        }
                    });
                    bounds.extend(place.geometry.location);

                    document.getElementById('lat').value = place.geometry.location.lat();
                    document.getElementById('lng').value = place.geometry.location.lng();
                    let city = place.address_components.filter(ac=>~ac.types.indexOf('locality'))[0].long_name;
                    let country = place.address_components.filter(ac=>~ac.types.indexOf('country'))[0].long_name;
                    console.log(city + ", " + country);
                    document.getElementById('location').value = city + ", " + country;
                }(place));

            }
            map.fitBounds(bounds);
            console.log("Bounds: " + bounds);
            searchBox.set('map', map);
            map.setZoom(Math.min(map.getZoom(),12));
        });
    }
    //google.maps.event.addDomListener(window, 'load', init);

    window.addEventListener('keydown',function(e){
        if(e.keyIdentifier === 'U+000A' || e.keyIdentifier === 'Enter' || e.keyCode === 13){
            if(e.target.nodeName === 'INPUT' && (e.target.type === 'text' || e.target.type === 'number')){
                e.preventDefault();return false;
            }
        }
    },true);


</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=init&libraries=places&v=weekly"
        async defer
></script>


</body>
</html>