<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Diets</title>
</head>
<body>

<div class="container my-2">
    <div class="col-9 mx-auto">
        <div class="card" th:each="diet: ${diets}" style="margin-bottom: 21px">
            <div class="card-header">
                <h4 th:text="${diet.title}"></h4>
            </div>

            <div class="card-body">
                <p class="card-text three-line-text" th:text="${diet.body}"></p>
                <a th:href="@{/diets/{id} (id=${diet.id})}">See the full diet post</a>

                <a class="add-favorite" th:if="${#authentication.principal != 'anonymousUser'}" style="float: right"
                   title="Add to favorites" th:id="${'add-favorite-' + diet.id}" onclick="addFavorite(this)"></a>

                <a hidden class="remove-favorite" th:if="${#authentication.principal != 'anonymousUser'}" style="float: right"
                   title="Remove from favorites" th:id="${'remove-favorite-' + diet.id}" onclick="removeFavorite(this)"></a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let favorites = [[${favorites}]];
        setFavorites(favorites);
    });
</script>
</body>
</html>