<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>Diets</title>
</head>
<body>

<div class="container my-2">
    <div th:each="diet: ${diets}">
        <div class="card">
            <div class="card-header">
                <h4 th:text="${diet.title}"></h4>
            </div>

            <div class="card-body">
                <p class="card-text three-line-text" th:text="${diet.body}"></p>
                <a th:href="@{/diets/{id} (id=${diet.id})}">See the full diet post</a>
                <a th:if="${#authentication.principal != 'anonymousUser'}" th:id="${'add-favorite-' + diet.id}" onclick="addFavorite(this)" title="Add to favorites">
                    <img src="/resources/icons/heart.svg" style="width: 21px; float: right; cursor: pointer" alt="heart">
                </a>
                <a th:if="${#authentication.principal != 'anonymousUser'}" th:id="${'remove-favorite-' + diet.id}" onclick="removeFavorite(this)" title="Remove from favorites">
                    <img src="/resources/icons/heart-filled.svg" style="width: 21px; float: right; cursor: pointer" alt="heart-filled">
                </a>
            </div>
        </div>
        <br/>
    </div>
</div>

<script>
    let diets = document.querySelectorAll('[id^="add-favorite-"]');
    let favorites = [[${favorites}]];

    [].forEach.call(diets, function (element) {
        let id = Number(element.id.replace("add-favorite-", ""));
        if (favorites.includes(id)) {
            document.getElementById("add-favorite-" + id).hidden = true;
            document.getElementById("remove-favorite-" + id).hidden = false;
        }else {
            document.getElementById("add-favorite-" + id).hidden = false;
            document.getElementById("remove-favorite-" + id).hidden = true;
        }
    });
</script>
</body>
</html>