<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navigation-bar :: navbar (~{::body}, ~{::title})}">
<head>
    <meta charset="UTF-8">
    <title>New Diet</title>
</head>
<body>

<div class="container my-2">
    <div class="row d-flex justify-content-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-7">
            <div class="card shadow p-3 mb-5 bg-body rounded" style="border-radius: 15px;">
                <div class="card-body p-5">
                    <h2 class="text-uppercase text-center mb-5"> Create Race </h2>
                    <form th:action="@{/my-diets/new}" th:object="${diet}" method="post">
                        <div class="form-outline mb-4">
                            <input required
                                   type="text"
                                   class="form-control form-control-lg"
                                   th:field="*{title}"
                                   placeholder="Title">
                        </div>
                        <div class="form-outline mb-4">
                        <textarea required
                                  class="form-control form-control-lg"
                                  rows="10"
                                  th:field="*{body}"
                                  placeholder="Diet's body"></textarea>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-submit">Create Diet</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>